#header{
    background-color: #06aabf;
    height: 45px;
}
#name{
    color: black;
    font-weight: bold;
    font-size: 28px;
    position: absolute;
    left: 55px;
    top: 2.5px;

}
#btn-part:active{
    background-color: #0bc8e0;
    height: 45px;
    width: 50px;
    position: absolute;
    right: 1px;
    border-radius: 5px;
}

img{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10px;
    right: 12px;
    cursor: pointer;
}

#btn-part:hover #tooltiptext {
    visibility: visible;
  }

#btn-part #tooltiptext {
    visibility: hidden;
    width: 70px;
    background-color: azure;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 1px;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    right: 5px;
    top: 50px;
}

#logo{
    position: absolute;
    left:12px;
    top:3px;
    width: 40px;
    height: 40px;
    cursor: default;
}